#footer {
  background-color: #121212;
  height: 200px;
  display: flex;
  justify-content: center; /* todo conteúdo ao centro */
  align-items: center; /* na vertical */
  border: 1px solid #363636;
}